@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Arvo|Bad+Script|Bowlby+One+SC|Comfortaa|Jura|Kumar+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton|Baloo+Bhai&display=swap');
html{


}
body{

  margin: 0;
  height: 2000;
  width: 100%;


}
.header{
  width: 100%;
  height: auto;
  position: fixed;
 background: -webkit-linear-gradient(right top,#1c0ca1,#ee17dd);
 border: 3px;

}
.log {
  color:white;
  height: 70px;
  width: 20%;
  margin-left: 10%;
  float: left;
  text-decoration: none;
 text-transform: uppercase;
font-family: 'Baloo Bhai', cursive;
    cursor: pointer;
}
.sabbox{
  float: left;
  width: 100%;
    min-height: 880px;

   background: -webkit-linear-gradient( top,#1c0ca1,#e87735);

}
.imene {
  float: left;
  width: 100%;

}
.headerbox{

  margin-bottom: 10px;
  background:transparent ;
  width: 100%;
  height: 70px;

}
.helper{
  float: left;
  min-height: 1000px;
  width: 100%;
  background: -webkit-linear-gradient(top,#e87735,#148e14);
}
.content{
    float: left;
    width: 100%;
  height: 800px;
  background-image: url("./master/q4.jpg");
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-color: #b5aeee;
  background-size: cover;
  margin-top: 80px;
}
.contact {
 margin-right: 30px;
  float: right;
    cursor: pointer;
}
.help {
 margin-right: 30px;
  float: right;
  cursor: pointer;
}
.menu {
  color:white;
  height: 70px;
  width:60%;
    float: right;


}
.inform {
   margin-right: 30px;
  float: right;
    cursor: pointer;
}
li{
  margin: 0;
  padding: 0;
  display: inline;

}
h2{
    font-family: 'Jura', sans-serif;
    text-align: center;
    color: #b6eae8;


}
.contentbox{
  font-family: 'Jura', sans-serif;
  text-align: center;
  height: 600px;
  width: 100%;





}
.header h1{
color: #b6eae8;
}

.contentbox1 {
 background: #8e50bc;
  border-radius: 25px;
  height: 600px;
  width: 480px;
color: #b6eae8;
  float:left;
  margin-left: 13%;
  margin-top:  3%;
}

.contentboxzagolovok1
{
  text-transform: uppercase;

  text-align: center;
  font-family: 'Jura', sans-serif;

}
.contentboxtext1
{
  float: left;
  margin-top: 30px;
  text-align: center;

  width: 100%;
}
.contentboxtext2
{
  float: left;
  margin-top: 30px;
  text-align: center;

  width: 100%;
}
.contentboxtext3
{
  float: left;
  margin-top: 30px;
  text-align: center;

  width: 100%;
}
.content h3{
  margin-left: 100px;
  margin-right: 100px;
  color:#b6eae8;
  font-size: 200%;
  font-family: 'Jura', sans-serif;
}
.helper h1{
  color:#b6eae8;
  font-size: 400%
}
.helper h3{
  margin-left: 100px;
  margin-right: 100px;
  color:#b6eae8;
  font-size: 200%;
  font-family: 'Jura', sans-serif;
}
.content h1{
  color:#b6eae8;
  font-size: 400%
}
h1{
  text-align: center;
font-family: 'Jura', sans-serif;


}
. content h1{
  text-align: center;



}
.footer{
  float:  left;
  width:100%;
  height: 500px;
}

.contentboximage1{
  border-radius: 25px;
  background-size: cover;
  background-image: url("./master/q1.jpg");
  height: 300px;
  width: 300px;
  margin-left: 20%;
  margin-top: 20px;
}
.contentboximage2{
  border-radius: 25px;
  background-size: cover;
  background-image: url("./master/q2.jpg");
  height: 300px;
  width: 300px;
  margin-left: 20%;
  margin-top: 20px;
}
.contentboximage3{
  border-radius: 25px;
  background-size: cover;
  background-image: url("./master/q3.jpg");
  height: 300px;
  width: 300px;
margin-left: 20%;
  margin-top: 20px;

}
.contentboxtext1 h3{
  font-family: 'Jura', sans-serif;
    color:#b6eae8;
    font-size: 150%;
    margin-left: 30px;
    margin-right: 30px;
}
.sabbox h1{
  font-family: 'Jura', sans-serif;
    color:#b6eae8;

}
@media (max-width: 2400px){
  .contentbox1 {


    margin-left: 4%;


  }

}
@media (max-width: 1200px) {
  .content {
    min-height: 1400px;
  }
  .contentboximage1{
  margin-left: 30%;
  margin-top: 90px;
  float: left;



  }
  .contentboximage2{
    margin-left: 30%;
    margin-top: 90px;
      float: left;
  }
  .contentboximage3{
    margin-left: 30%;
    margin-top: 90px;
      float: left;
  }
    .wrapper {
      font-size: 150%;
    }
    .header{

    }
.log{
  font-size: 50%;
  width: 20%;
  margin-left: 3%;
  float: left;
  margin-top:25px;
}

.menu{
  margin:auto;
  float: none;
  height: auto;
  width: auto;


}
.headerbox{
  width: auto;
  height: auto;
}

.contact {
  width: 20%;
  margin-left: 4%;
  float: left;
  margin-right: auto;
}
.help{
  width: 20%;
  margin-left: 4%;
  float: left;
  margin-right: auto;
}
.inform{
  margin-right: auto;
  width: 20%;
  margin-left: 4%;
  float: left;
}

  .contentbox1 {
 float: none;
  height: 1000px;
    width: 80%;
    margin: auto;
    margin-top: 100px;

  }
  .sabbox {
    min-height: 3480px;
  }

}
