@import url('https://fonts.googleapis.com/css?family=Righteous|Teko|Varela+Round&display=swap');
body{
font-family: 'Righteous', cursive;
  height: 4000px;
  margin:0;
  border:0;
  transition: 1s;
  text-decoration: none;
  text-transform: uppercase;
}
header{
z-index: 10;

  color:white;
  background:transparent;
 position: fixed;
  height: 30px;
  width: 100%;

}
.headerbox{

  margin: auto;
max-width:1300px;
  height: 30px;
  background: transparent;
}
.logo{
  margin-top:7px;
    margin-left: 20px;
  float: left;
  background: transparent;
  cursor: pointer;
}
.menubox{

  margin-top:7px;
  float: right;
  width: 700px;
  height:33px;
  background: transparent;
}
.menu{
  text-align: center;
  width: 70px;
  height: 100%;;
  float: right;
  margin:0 30px 0 30px;
  cursor: pointer;
}

.menu h5{
height: auto;
margin: 0;
}
.menu:hover{

  border-bottom: 2px solid black;
}
.content{



}
.zagolovok {
color:white;
width: 100%;
height: 500px;
position: absolute;
top:19%;
float:left;
text-align:center;
opacity:0; /*Элемент полностью прозрачный (невидимый)*/
transition: 10s; /*Скорость перехода состояния элемента*/
animation: show 3s 1; /* Указываем название анимации, её время и количество повторов*/
animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
animation-delay: 0; /* Задержка перед началом */
  }
  @keyframes show{
0%{
opacity:0;
}
100% {
opacity:1;
}
}

.content2{
  width: 100%;
  height:100px;
  background: white;
  text-align: center;
}
.content2 h1{
margin-top: 60px;
}
.fixed {
transition: 0.5s;
  z-index: 5000;
  background-color: #fff;
  border-bottom: 1px solid silver;

}

header.fixed .headerbox{
    transition: 0;
  color: black;
  border-left: 2px solid black;
    border-right:  2px solid black;
}

.fixed #about a {color: #343434}
.fixed #about a:hover {color: #7c7c7c}
.vibor{


border-bottom: 1px solid black;
border-top:1px solid black;
float:left;
height:30px;
width:100%;
background:white;
}
.menubox1{
border-left:2px solid black;
margin: auto;
border-right:2px solid black;margin:auto;
max-width:1300px;
height:100%;
background:transparent;
width: 98%;
}
.menu1{
text-align:center;

height:95%;
width:25%;
background:white;
float:left;
cursor:pointer;
}
.menu1 h5{
height: auto;
margin-top: 5px;

}
.menu1:hover {
border-bottom:2px solid black
}
.shopbox{
  float: left;
  height: 1000px;
  width: 100%;
  background: white;
}
.tovar {
  text-align: center;
  margin-top: 10px;
  float: left;
  height: 500px;
width: 100%;
background: white;
}
.tovarbox{

  margin:auto;
  height: 300px;
  width: 90%;
margin-bottom: 20PX;
  background: white;
  border-radius: 25px;
  border:2px solid black;

}
.imagetovar{
  height: 100%;
  width: 30%;
  float: left;
  background-image: url(https://www.tesla.com/sites/tesla/files/carousel/image/charger-1%402_0.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.nametovar{
  height: 25%;
  width: 69%;
  float:right;
  background:transparent;

}
.pricetovar{
  height:25%;
  width: 69%;
  float:right;
  background: transparent;
}
.opisanietovar{
  height: 50%;
  width: 69%;
float:right;
background: transparent;
}
